/* Update the font size of text in the Navbar by 2px */
.navbar .nav-link {
  font-size: calc(16px + 1px); /* Increase font size by 2px */
  margin-right: 10px;
}

/* Add hover effect to navbar links */
.navbar .nav-link:hover {
  color: white;
  background-color: black;
}

/* Make navbar links rounded */
.navbar .nav-link {
  border-radius: 20px;
  padding: 10px 20px;
}

.navbar {
  width: calc(
    100% - 80px
  ); /* Subtract the margin from the width of the viewport */
  margin: 0 40px; /* Add margin from left and right */
}

/* Style the search bar */
.navbar .search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navbar .smaller-search .form-control {
  width: 100%;
  max-width: 400px;
  border-radius: 30px; /* Make the search bar rounded */
  border: none; /* Remove the border */
  background-color: #f0f0f0;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .navbar .d-flex.flex-column.w-100 {
    align-items: center; /* Center items vertically */
  }

  .navbar .d-flex.justify-content-between.align-items-center.w-100 {
    flex-direction: column; /* Stack items vertically */
  }

  .navbar .search-container {
    margin-top: 20px;
  }
}
