/**
 * @authors 
 * Rahul Hambarde
 */
.change-password-content {
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.change-password-parallax-content {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-password-button {
    background-color: #3f51b5 !important;
    color: #fff !important;
    width: 100% !important;
    margin-top: 16px !important;
}

.selected-file {
    
}