.header {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border: solid 1px;
  padding: 15px;
  border-left: 0;
  border-right: 0;
}

.header h3 {
  margin: 0 10px;
}

.link-deco {
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  .header {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .header h3 {
    margin: 5px 0; 
  }
}
