li {
    list-style-type: none;
    cursor: pointer;
}
.media{
    height: 230px;
    border-radius: 10px;
}
.sub-card-design{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.subcategory-link-deco{
    text-decoration: none;
    color: black;
}