.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.profile-section {
    display: flex;
}

.name-tag {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.name-sec {
    font-size: large;
    font-weight: 1000;
}

.job-title {
    font-weight: bold;
}

.card-btn {
    border: 1.2px solid black;
    color: green;
    padding: 10px 8px;
    font-size: 16px;
    border-color: black;
    border-radius: 12px;
    box-sizing: border-box;
}

.popular-btn-container {
    margin-left: auto; /* Adjusted */
}

@media only screen and (max-width: 600px) {
    .card-btn {
        float: none;
        margin-left: 10px;
    }
}

.card-text {
    margin-top: 8px;
    margin-left: 8px;
    font-weight: 600;
}

.rating-sec {
    margin-top: 10px;
    margin-left: 1px;
    display: flex;
    align-items: center;
}

.rating-icon {
    margin-top: 10px;
    height: 30px;
    width: 30px;
}

.rating-text-sec {
    font-size: large;
    font-weight: 1000;
    margin-left: 20px;
    align-items: center;
}

.price-text-sec {
    font-size: large;
    margin-top: 10px;
}
