/**
 * @authors 
 * Rahul Hambarde
 */
.profile-parallax-content {
    height: 90vh;
    align-items: center;
    justify-content: center;
    
}

.profile-picture {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.svg_icons {
    transform: scale(3);
}

.invisible {
    display: none;
  }
  
.visible {
    display: block;  
}
    

@media screen and (max-width: 768px) {
    .profile-parallax-content {
        height: 90vh;
        align-items: center;
        justify-content: center;
    }
    
    .svg_icons {
        transform: scale(2);
    }
}


