.profile-parallax-content {
    height: 90vh;
    align-items: center;
    justify-content: center;
    
}

.profile-paper {
    
}

.svg_icons {
    transform: scale(3);
}

.invisible {
    display: none;
  }
  
.visible {
    display: block;  
}
    

@media screen and (max-width: 768px) {
    .profile-parallax-content {
        height: 90vh;
        align-items: center;
        justify-content: center;
    }
    
    .svg_icons {
        transform: scale(2);
    }
}


