li {
    list-style-type: none;
    cursor: pointer;
}
.media{
    height: 230px;
    border-radius: 10px;
}
.sub-card-design{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}